fastapi
uvicorn
gunicorn
python-multipart
python-dotenv

pymupdf
pillow

pandas
numpy
scikit-learn
xgboost
joblib

sentence-transformers
transformers
torch
faiss-cpu

langchain
langchain-community

groq

python-docx
torchvision